{% macro section(title, class) %}
  <section class="nes-container with-title {{ class }}"
           aria-labelledby="{{ class }}-title">
    <h2 id="{{ class }}-title" class="title">{{ title }}</h2>
    <div class="content">
      {{ caller() }}
    </div>
  </section>
{% endmacro %}

{% macro button(title, class="", type="is-primary") %}
  {# is-primary #}
  {# is-success #}
  {# is-warning #}
  {# is-error #}
  {# is-disabled #}
  <button class="nes-btn {{ type }} {{ class }}" type="button">
    <span>{{ title }}</span>
  </button>
{% endmacro %}

{% macro list(type='is-circle') %}
  {# is-circle #}
  {# is-disk #}
  <ul class="nes-list {{ type }}">
    {{ caller() }}
  </ul>
{% endmacro %}