{% macro section(title, class) -%}
  <section class="nes-container with-title {{ class }}"
           aria-labelledby="{{ class }}-title">
    <h2 id="{{ class }}-title" class="title">{{ title }}</h2>
    <div class="content">
      {{ caller() }}
    </div>
  </section>
{%- endmacro %}