{% call forms.section(prompt.title, "prompt-number-" ~ prompt.number, class="prompt-card") %}
  <span class="prompt-number">Prompt {{ prompt.number }}</span>
  <p class="prompt-when">
    {{ prompt.when }}
  </p>
  <div class="nes-input is-success">
    <div class="prompt-text-wrapper">
      <pre class="prompt-text"><code>{{ prompt.text }}</code></pre>
    </div>
    {{ forms.button("Kopiuj prompt", class="copy-button") }}
  </div>
{% endcall %}