{% call forms.section(section.title, section.id, is_rounded=true) %}
  <p>{{ section.description }}</p>
  {% for prompt in section.prompts %}
    {% include "partials/prompt_card.html.j2" %}
  {% endfor %}
{% endcall %}