{% import 'partials/forms.html.j2' as forms %}

<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.subtitle }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap"
        rel="stylesheet">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet"/>
  <link href="static/main.css" rel="stylesheet"/>
</head>
<body>

{% include "partials/header.html.j2" %}

<main id="main" class="container">
  {% block content %}{% endblock %}
</main>

{% include "partials/footer.html.j2" %}

<script src="static/main.js"></script>
</body>
</html>