<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.subtitle }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet"/>

  <style>
      html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P", serif;
      }

      p, ul, ol {
          font-family: "Roboto Mono", serif;
      }
  </style>

</head>
<body>
<a class="skip-link" href="#main">Przejdź do treści</a>

{% include "partials/header.html.j2" %}

<main id="main" class="container">
  {% block content %}{% endblock %}
</main>

{% include "partials/footer.html.j2" %}

<script src="/static/main.js"></script>
</body>
</html>